.category
{
    width: 100%;
    height: 234px;
    padding-top: 79px;
    background: #4a4a4a;
}
.category_container
{
    width: 100%;
    height: 100%;
    padding-bottom: 43px;
}
.category_title
{
    font-size: 36px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 0.75;
}
.breadcrumbs
{
    margin-top: 15px;
}
.breadcrumbs ul li
{
    position: relative;
}
.breadcrumbs ul li:not(:last-of-type)::after
{
    display: inline-block;
    content: '/';
    font-size: 16px;
    font-weight: 500;
    color: #969696;
    margin-left: 4px;
    margin-right: 4px;
}
.breadcrumbs ul li,
.breadcrumbs ul li a
{
    font-size: 16px;
    font-weight: 500;
    color: #969696;
}
.breadcrumbs ul li a:hover
{
    color: #2fce98;
}
