.boxes
{
    width: 100%;
    background: #FFFFFF;
    padding-bottom: 71px;;
}
.boxes > .container
{
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.boxes_container
{
    width: 100%;
    height: 296px;
}
.box
{
    width: calc((100% - 76px) / 3);
    height: 100%;
}
.box_content
{
    width: 100%;
    height: 100%;
    padding-left: 41px;
    padding-right: 32px;
}
.box_left
{
    width: 50%;
}
.box_right
{
    width: 50%;
}
.box_title
{
    max-width: 165px;
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}
.box_image
{
    width: 240px;
    height: 177px;
    max-width: 100%;
}
.box_image a
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.box_image a::after
{
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -24px;
    width: 49px;
    height: 49px;
    background: #2fce98;
    border-radius: 2px;
    z-index: 1;
    font-family: 'FontAwesome';
    content: 'Go';
    font-size: 18px;
    color: #FFFFFF;
    line-height: 49px;
    text-align: center;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.box_image:hover a::after
{
    right: -40px;
}
