.header
{
    display: block;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    z-index: 100;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.header.active
{
    -webkit-transform: translateX(350px);
    -moz-transform: translateX(350px);
    -ms-transform: translateX(350px);
    -o-transform: translateX(350px);
    transform: translateX(350px);
}
.header_overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}
.header.active .header_overlay
{
    visibility: visible;
    opacity: 1;
}
.header_content
{
    width: 100%;
    height: 79px;
    padding-left: 20px;
    padding-right: 42px;
}
.header.scrolled
{
    box-shadow: 0px 5px 15px rgba(0,0,0,0.08);
}
.logo a > div > div:last-child
{
    padding-left: 15px;
    font-size: 24px;
    font-weight: 700;
    color: #4a4a4a;
}
.hamburger
{
    /*display: none;*/
    margin-left: 25px;
    cursor: pointer;
    margin-top: 4px;
}
.hamburger i
{
    font-size: 24px;
    color: #2e2e2e;
}
.hamburger:hover i
{
    color: #2fce98;
}
.main_nav
{
    margin-left: 111px;
}
.main_nav ul li:not(:last-of-type)
{
    margin-right: 49px;
}
.main_nav ul li a
{
    font-size: 20px;
    color: #2e2e2e;
    font-weight: 400;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
    color: #2fce98;
}
.header_search
{
    margin-right: 65px;
}
.header_search_form
{
    display: block;
}
.search_input
{
    width: 450px;
    height: 39px;
    border: solid 1px #4a4a4a;
    border-radius: 20px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #2e2e2e;
    font-weight: 300;
    box-shadow: 0 0 1px 0px #4a4a4a inset, 0 0 1px 0px #4a4a4a;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.search_input:focus,
.search_input:hover
{
    border-color: #2fce98;
    box-shadow: 0 0 1px 0px #2fce98 inset, 0 0 1px 0px #2fce98;
}
.search_input::-webkit-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #2e2e2e !important;
}
.search_input:-moz-placeholder
{
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #2e2e2e !important;
}
.search_input::-moz-placeholder
{
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #2e2e2e !important;
}
.search_input:-ms-input-placeholder
{
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #2e2e2e !important;
}
.search_input::input-placeholder
{
    font-size: 16px !important;
    font-weight: 300 !important;
    color: #2e2e2e !important;
}
.header_search_button
{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: 44px;
    height: 39px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.user
{
    margin-right: 28px;
}
.user a > div
{
    width: 40px;
    height: 40px;
}
.user a > div > svg
{
    max-width: 100%;
    height: auto;
}
.cart
{
    margin-right: 29px;
}
.cart a > div
{
    width: 37px;
    height: 37px;
}
.cart a > div > svg
{
    max-width: 100%;
    height: auto;
}
.cart a > div > div
{
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #2fce98;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
}
.header_phone > div:first-child > div
{
    width: 36px;
    height: 36px;
}
.header_phone > div:last-child
{
    font-size: 18px;
    font-weight: 700;
    color: #4a4a4a;
    padding-left: 26px;
}
.svg path, .svg rect, .svg polygon
{
    fill: #778990;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.svg:hover path,
.svg:hover rect,
.svg:hover polygon
{
    fill: #2fce98;
}
